[stream]
enable=true
url=
fps=5.0
reportframes=100

[motiondetect]
enable=true
threshold=50
varthreshold=200
blur=5
minw=20
minh=20
fps=5.0
ignoreedges=false

[videocap]
enable=true
graceframes=10
snapshots=/srv/snapshots
fps=5.0
fourcc=mp4v
container=mp4
#tsformat=%Y-%m-%d-%H-%M-%S-%f

[photocap]
enable=false
snapshots=/srv/snapshots
#tsformat=%Y-%m-%d-%H-%M-%S-%f

[snapserve]
enable=true
listen=127.0.0.1
port=8000

[framebuffer]
enable=true
path=/dev/fb0
fps=5.0
reportframes=100
width=480
height=320
overlay=<weather>\n<time>
overlaycoords=10,20
highlight=motion
overlayfont=HERSHEY_SIMPLEX

[reserver]
enable=true
listen=127.0.0.1
port=8888
fps=5.0
reportframes=100
overlay=<weather>\n<time>
overlaycoords=10,20

[weather]
enable=true
url=
refresh=300
format=<outTemp> <humidity>, wind <windSpeed>, rain <rainRate>

[mqtt]
enable=true
host=
port=8883
ssl=true
logger=false
snapshots=true
ca=
topic=
uid=
snapsize=320,240

