Faker==6.5.0
numpy==1.19.5
opencv-contrib-python-headless==4.5.1.48
paho-mqtt==1.5.1
Pillow==8.1.0
python-dateutil==2.8.1
requests==2.25.1
six==1.15.0
urllib3==1.26.3
hachoir==3.1.2
memory-profiler==0.57.0
memunit==0.5.2
